<template>
      <h1>Passengers List</h1>
      <div class="row">
        <div class="col-md-4 offset-md-8">
            <form>
                <label>Filter:</label>
                <select id="filter" v-model="filter" class="form-control">
                <option value="Name">Name</option>
                <option value="Age">Age</option>
                <option value="Ticket">Ticket</option>
                <option value="Embarked">Embarked</option>
                <option value="class">PClass</option>
                </select>
                <input type="text" id="searchField" placeholder="Search..." v-model="searchField" class="form-control" />
            </form>
        </div>
      </div>
      <table class="table" id="passengersTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Survived</th>
            <th>Class</th>
            <th>Full Name</th>
            <th>Sex</th>
            <th>Age</th>
            <th>Siblings</th>
            <th>Parch</th>
            <th>Ticket</th>
            <th>Fare</th>
            <th>Cabin</th>
            <th>Embarked</th>
          </tr>
        </thead>
        <tbody>
            <tr v-for="passenger in passengers" :key="passenger.id">
            <td>{{passenger.id}}</td>
            <td>{{passenger.Survived}}</td>
            <td>{{passenger.class}}</td>
            <td>{{passenger.Name}}</td>
            <td>{{passenger.Sex}}</td>
            <td>
                <p v-if="passenger.Age">{{passenger.Age}}</p>
                <p v-else>N/A</p>
            </td>
            <td>{{passenger.Siblings}}</td>
            <td>{{passenger.Parch}}</td>
            <td>{{passenger.Ticket}}</td>
            <td>{{passenger.Fare}}</td>
            <td>
                <p v-if="passenger.Cabin">{{passenger.Cabin.replaceAll(" ", ", ")}}</p>
                <p v-else>N/A</p>
            </td>
            <td>{{passenger.Embarked}}</td>
            </tr>
        </tbody>
      </table>    
  
</template>
 
<script>
import 'jquery/dist/jquery.min.js';
import 'bootstrap/dist/css/bootstrap.min.css';
import "datatables.net-dt/js/dataTables.dataTables"
import "datatables.net-dt/css/jquery.dataTables.min.css"
import axios from 'axios';
import $ from 'jquery'; 

export default {
  mounted(){
    axios
    .get("https://coding-task.strakertranslations.com/passengers")
    .then((response)=>
    {
        const filtersList = response.data.filter(function (elm){
            if (elm.Name)
                return elm;
        });
        this.passengers = filtersList;

    })
    .then(()=>
    {
        var oTable = $('#passengersTable').DataTable({
            "searching": true,
            "ordering": true,
            "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]],
            bFilter: true,
        });

        $(document).ready(function(){
            $('#searchField').on( 'keyup', function () {

                var filter = document.getElementById('filter').value;
                var searchField = document.getElementById('searchField').value;
                var column = 3;

                switch(filter)
                {
                    case "Name":
                        column = 3
                        break;
                    case "Age":
                        column = 5
                        break;
                    case "Ticket":
                        column = 8
                        break;
                    case "Embarked":
                        column = 11
                        break;
                    case "class":
                        column = 2
                        break;
                }

                if (searchField !== "")
                    oTable.column(column).search(searchField).draw();
                else
                    oTable.columns().search("").draw();

            });
        });

    })
    .catch(error => {
        console.log(error)
        this.errored = true
    })
  },
  data: function() {
        return {
            passengers:[],
            searchField: "",
            filter: "Name"
        }
    },
   
}
</script>