<template>
  <div class="container mt-4 mb-5">
    <PassengersTable/>
  </div>
</template>

<script>
import PassengersTable from './components/Passengers.vue'

export default {
  name: 'App',
  components: {
    PassengersTable
  }
}
</script>

<style>
  #passengersTable_filter {
    display: none;
  }
  #filter{
    margin-bottom: 10px;
    width: 90%;
    float: right;
  }

  #searchField{
    width: 90%;
    float: right;
  }

  label{
    display: inline-block;
    margin-top: 6px;
    margin-left: -10px;
  }

  #passengersTable{
    margin-bottom: 20px;
  }

  #passengersTable_length {
    margin-bottom: 15px;
    margin-left: 15px;
  }

  table.dataTable thead th, table.dataTable thead td {
      padding: 10px 25px;
  }

  table.dataTable tbody th, table.dataTable tbody td {
      padding: 8px 10px;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
      color: #ffffff !important;
      border: 1px solid #2558c1;
      background-color: white;
      background: linear-gradient(to bottom, #2f67cd 0%, #1c4cb7 100%);
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:active {
      outline: none;
      background-color: #275cc4;
      background: linear-gradient(to bottom, #2677cb 0%, #4879e5 100%);
      box-shadow: inset 0 0 3px #4278e1;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
      color: white !important;
      border: 1px solid #1d7191;
      background-color: #585858;
      background: linear-gradient(to bottom, #2153bc 0%, #2255be 100%);
  }
</style>
